<div class="w-3/4 mx-auto flex flex-col justify-center items-center mt-12">
  <button
    class="px-4 bg-blue-500 text-white py-2 rounded"
    routerLink="/uppercase-pipe"
  >
    Regresar a Uppercase Pipe
  </button>
  <h1 class="text-2xl font-bold my-5 text-blue-500">CURRENCY PIPES</h1>
  <div class="flex gap-4">
    <label for="">Valor</label>
    <input type="number" class="border" [(ngModel)]="valor" />
  </div>
  <select name="" id="" [(ngModel)]="select">
    <option value="">Selecciona el tipo de moneda</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <p *ngIf="select" class="my-6">Resultado : {{ valor | currency : select }}</p>
</div>
